<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/vue.js"></script>
    <script src="../../js/eindex.js"></script>
    <script src="../../js/axios.min.js"></script>
    <link rel="stylesheet" href="../../css/eindex.css">
</head>
<body>
<style>
    img {
        width: 250px;
        height: 200px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .top {
        font-size: 20px;
        width: 100%;
        height: 50px;
        background-color: #8cc5ff;
        color: white;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .el-input {
        position: relative;
        top: 10px;
        width: 100px;
        height: 50px;
        left: 100px;
    }

    .time {
        font-size: 13px;
        color: #999;
    }

    .bottom {
        margin-top: 13px;
        line-height: 12px;
    }

    .button {
        padding: 0;
        float: right;
    }

    .image {
        display: block;
    }

    .clearfix:before,
    .clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }

    .gwc {
        position: fixed;
        top: 100px;
        right: 0;
    }

    .gw {
        position: fixed;
        top: 140px;
        right: 0;
        width: 200px;
        height: 320px;
        background-color: #dde4e5;
        border-radius: 15px;
    }

    .gw .a1 {
        width: 100%;
        height: 260px;
        overflow: auto;
    }
</style>
<div class="top">欢迎订餐，用餐愉快</div>
<div id="app" style="position: relative">
    <el-row class="tac">
        <el-col :span="3">
            <el-menu
                    default-active="1"
                    class="el-menu-vertical-demo"
                    @open="handleOpen"
                    @close="handleClose">

                <el-menu-item index="1" @click="changeCurrent(1)">
                    <i class="el-icon-tableware"></i>
                    <span slot="title">米饭</span>
                </el-menu-item>
                <el-menu-item index="2" @click="changeCurrent(2)">
                    <i class="el-icon-food"></i>
                    <span slot="title">面条</span>
                </el-menu-item>
                <el-menu-item index="3" @click="changeCurrent(3)">
                    <i class="el-icon-fork-spoon"></i>
                    <span slot="title">火锅</span>
                </el-menu-item>
                <el-menu-item index="4" @click="changeCurrent(4)">
                    <i class="el-icon-burger"></i>
                    <span slot="title">快餐</span>
                </el-menu-item>
                <el-menu-item index="5" @click="changeCurrent(5)">
                    <i class="el-icon-dish"></i>
                    <span slot="title">西餐</span>
                </el-menu-item>
                <el-menu-item index="6" @click="changeCurrent(6)">
                    <i class="el-icon-dessert"></i>
                    <span slot="title">冰点</span>
                </el-menu-item>
                <el-menu-item index="7" @click="changeCurrent(7)">
                    <i class="el-icon-milk-tea"></i>
                    <span slot="title">茶饮</span>
                </el-menu-item>
                <el-menu-item index="8" @click="changeCurrent(8)">
                    <i class="el-icon-cherry"></i>
                    <span slot="title">鲜果</span>
                </el-menu-item>
            </el-menu>
        </el-col>
        <el-col :span="21">
            <div style="position:relative;">
                <el-input v-model="input" placeholder="请输入内容"
                          style="position: absolute;left: 0;top: 0;"></el-input>
                <el-button style="position: absolute;left: 100px;top: 0;" @click="getByName()">查询</el-button>
            </div>
            <div style="height: 330px;margin-top:40px;display: flex;flex-direction: row;flex-wrap:wrap;"
                 v-show="changeMode(1)">
                <el-card style="width: 250px; margin:5px 5px;" :body-style="{ padding: '0px', width:'250px' }"
                         v-for="(item,index) in mList" :key="index">
                    <img :src="item.picture" class="image">
                    <div style="padding: 14px;">
                        <span>{{item.name}}</span>
                        <div class="bottom clearfix">
                            <time class="time">{{item.price}}</time>
                            <el-button type="text" class="button" @click="open(item.id)">进入了解</el-button>
                        </div>
                    </div>
                </el-card>
            </div>
            <div style="height: 330px;margin-top:40px;display: flex;flex-direction: row;flex-wrap:wrap;"
                 v-show="changeMode(2)">
                <el-card style="width: 250px; margin:5px 5px;" :body-style="{ padding: '0px', width:'250px' }"
                         v-for="(item,index) in mList" :key="index">
                    <img :src="item.picture" class="image">
                    <div style="padding: 14px;">
                        <span>{{item.name}}</span>
                        <div class="bottom clearfix">
                            <time class="time">{{item.price}}</time>
                            <el-button type="text" class="button" @click="open(item.id)">进入了解</el-button>
                        </div>
                    </div>
                </el-card>
            </div>
            <div style="height: 330px;margin-top:40px;display: flex;flex-direction: row;flex-wrap:wrap;"
                 v-show="changeMode(3)">
                <el-card style="width: 250px; margin:5px 5px;" :body-style="{ padding: '0px', width:'250px' }"
                         v-for="(item,index) in mList" :key="index">
                    <img :src="item.picture" class="image">
                    <div style="padding: 14px;">
                        <span>{{item.name}}</span>
                        <div class="bottom clearfix">
                            <time class="time">{{item.price}}</time>
                            <el-button type="text" class="button" @click="open(item.id)">进入了解</el-button>
                        </div>
                    </div>
                </el-card>
            </div>
            <div style="height: 330px;margin-top:40px;display: flex;flex-direction: row;flex-wrap:wrap;"
                 v-show="changeMode(4)">
                <el-card style="width: 250px; margin:5px 5px;" :body-style="{ padding: '0px', width:'250px' }"
                         v-for="(item,index) in mList" :key="index">
                    <img :src="item.picture" class="image">
                    <div style="padding: 14px;">
                        <span>{{item.name}}</span>
                        <div class="bottom clearfix">
                            <time class="time">{{item.price}}</time>
                            <el-button type="text" class="button" @click="open(item.id)">进入了解</el-button>
                        </div>
                    </div>
                </el-card>
            </div>
            <div style="height: 330px;margin-top:40px;display: flex;flex-direction: row;flex-wrap:wrap;"
                 v-show="changeMode(5)">
                <el-card style="width: 250px; margin:5px 5px;" :body-style="{ padding: '0px', width:'250px' }"
                         v-for="(item,index) in mList" :key="index">
                    <img :src="item.picture" class="image">
                    <div style="padding: 14px;">
                        <span>{{item.name}}</span>
                        <div class="bottom clearfix">
                            <time class="time">{{item.price}}</time>
                            <el-button type="text" class="button" @click="open(item.id)">进入了解</el-button>
                        </div>
                    </div>
                </el-card>
            </div>
            <div style="height: 330px;margin-top:40px;display: flex;flex-direction: row;flex-wrap:wrap;"
                 v-show="changeMode(6)">
                <el-card style="width: 250px; margin:5px 5px;" :body-style="{ padding: '0px', width:'250px' }"
                         v-for="(item,index) in mList" :key="index">
                    <img :src="item.picture" class="image">
                    <div style="padding: 14px;">
                        <span>{{item.name}}</span>
                        <div class="bottom clearfix">
                            <time class="time">{{item.price}}</time>
                            <el-button type="text" class="button" @click="open(item.id)">进入了解</el-button>
                        </div>
                    </div>
                </el-card>
            </div>
            <div style="height: 330px;margin-top:40px;display: flex;flex-direction: row;flex-wrap:wrap;"
                 v-show="changeMode(7)">
                <el-card style="width: 250px; margin:5px 5px;" :body-style="{ padding: '0px', width:'250px' }"
                         v-for="(item,index) in mList" :key="index">
                    <img :src="item.picture" class="image">
                    <div style="padding: 14px;">
                        <span>{{item.name}}</span>
                        <div class="bottom clearfix">
                            <time class="time">{{item.price}}</time>
                            <el-button type="text" class="button" @click="open(item.id)">进入了解</el-button>
                        </div>
                    </div>
                </el-card>
            </div>
            <div style="height: 330px;margin-top:40px;display: flex;flex-direction: row;flex-wrap:wrap;"
                 v-show="changeMode(8)">
                <el-card style="width: 250px; margin:5px 5px;" :body-style="{ padding: '0px', width:'250px' }"
                         v-for="(item,index) in mList" :key="index">
                    <img :src="item.picture" class="image">
                    <div style="padding: 14px;">
                        <span>{{item.name}}</span>
                        <div class="bottom clearfix">
                            <time class="time">{{item.price}}</time>
                            <el-button type="text" class="button" @click="open(item.id)">进入了解</el-button>
                        </div>
                    </div>
                </el-card>
            </div>
        </el-col>
    </el-row>
    <el-button class="gwc" type="primary" @click="gwcShow()">
        {{showG ? "关  闭" : "购物车"}}
    </el-button>
    <div class="gw" v-show="showG">
        <div class="a1">
            <p v-for="one in gwcList">
                {{one}}
            </p>
        </div>
        <div>
            总价格：{{sum}}<br/>
            <el-button size="small" @click="cleargwc()">清空</el-button>
            <el-button size="small" @click="settlement()">结算</el-button>
        </div>
    </div>

</div>
<script>
    new Vue({
        el: "#app",
        data: function () {
            return {
                input: '',
                current: '1',
                mList: [{
                    "name": "",
                    "price": "",
                    "picture": "",
                    "money": ""
                }],
                now: 1,
                showG: false,
                gwcList: [],
                sum: 0
            }
        }, created() {
            this.refresh(1)
            var item = window.sessionStorage.getItem("gwc");
            console.log(item)
            var strings = item.split(",{");
            var that = this
            if (!(strings.length <= 1)) {
                for (var i = 1; i < strings.length; i++) {
                    var parse = JSON.parse("{" + strings[i]);
                    axios.get("../../meal/onemeal?id=" + parse.id).then(res => {
                        console.log(res.data.all)
                        that.gwcList.push(res.data.all.message + ",价格：" + res.data.all.price)
                        this.sum += parseFloat(res.data.all.price)
                    })
                }
            }
        }, methods: {
            refresh(kind) {
                var that = this;
                axios.get("../../meal/kindmeal?kind=" + kind, {}).then(function (res) {
                    console.log("kind" + kind)
                    if (res.data.code == 200) {
                        console.log(res.data.all)
                        that.mList = res.data.all
                    } else {
                        that.$message({
                            message: '读取失败',
                            type: 'warning'
                        });
                    }
                }).catch(function (err) {
                    console.log(err);
                })
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            changeMode(index) {
                if (index == this.current) {
                    return true;
                } else {
                    return false;
                }
            }, changeCurrent(index) {
                this.current = index;
                this.refresh(index)
                this.now = index;
            }, open(id) {
                window.location.href = "./goods.html?id=" + id;
            }, getByName() {
                console.log("aa")
                var that = this;
                axios.get("../../meal/namemeal?kind=" + this.now + "&name=" + this.input).then(function (res) {
                    if (res.data.code == 200) {
                        console.log(res.data.all)
                        that.mList = res.data.all
                    } else {
                        that.$message({
                            message: '读取失败',
                            type: 'warning'
                        });
                    }
                }).catch(function (err) {
                    console.log(err);
                })
            }, gwcShow() {
                this.showG = !this.showG;
            }, cleargwc() {
                window.sessionStorage.setItem("gwc", "")
                this.gwcList = []
                this.sum = 0
            }, settlement() {
                var that = this;
                var item = window.sessionStorage.getItem("gwc");
                console.log(item)
                var strings = item.split(",{");
                var that = this
                if (!(strings.length <= 1)) {
                    for (var i = 1; i < strings.length; i++) {
                        var parse = JSON.parse("{" + strings[i]);
                        console.log(parse)
                        axios.get("../../order/neworder", {
                            params: {
                                "num": parse.num,
                                "tel": parse.tel,
                                "address": parse.address,
                                "desc": parse.desc,
                                "id": parse.oid,
                                "name": parse.name,
                                "bid": parse.bid
                            }
                        }).then(function (res) {
                            if (res.data.code == 200) {
                                window.location.href = ""
                            } else {
                                that.$message({
                                    message: '读取失败',
                                    type: 'warning'
                                });
                            }
                        }).catch(function (err) {
                            console.log(err);
                        })
                    }
                }
                this.cleargwc();
                this.$message({
                    message: '结算成功',
                    type: 'success'
                });
            }
        }
    })
</script>
</body>
</html>